.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 200px 300px;
  padding: 50px 100px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  column-gap: 10px;
  row-gap: 20px;

}

.App-header {
  background-color: bisque;
  padding: 20px;
  grid-column-start: span 2;
}

.item {
  
  border: 1px solid #000000;
  background-color: #5e9a0a;
  color: white;
  padding: 10px;
}

.App {
  
}